@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

body {
  background-color: rgba(26, 24, 24, 0.705);
}

.grid img {
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
}